<div class="fl bm" style="margin-top: 15px">
    <div class="bm bmw cl">
        <div class="bm_h cl">
            <h2>站內动态</h2>
        </div>
    </div>
    <div class="bm_c">
        <div class="pt5"></div>
        <!--{loop $forum_last_posts $pid $post}-->
        <!--{eval $thread = $forum_last_posts_threads[$post[tid]]}-->
        <!--{eval $fid = $thread[fid]}-->
        <!--{eval $forum_name = $forum_last_posts_forums[$fid][name]}-->
        <!--{eval $replier = $post[author]}-->
        <!--{eval $replierId = $post[authorid]}-->
        <!--{eval $message = $post[message]}-->
        <!--{eval $first = $post[first]}-->
        <!--{if strlen($message) > 200}-->
        <!--{eval $message = substr($message, 0, 197) . '...'}-->
        <!--{/if}-->
        <div>
            <a href="/?$replierId"><!--{avatar($replierId,small)}--></a>
            <div><!--{if $first}-->[<b>New!</b>]<!--{/if}-->[<b><a href="/forum.php?mod=forumdisplay&fid=$fid">$forum_name</a></b>]<a href="/forum.php?mod=viewthread&tid=$thread[tid]">$thread[subject]</a> <a href="/?$replierId">@$replier</a> <b>{echo dgmdate($post[dateline], 'u', '9999', getglobal('setting/dateformat'))}</b></div>
            <div>$message</div>
        </div>
        <!--{/loop}-->
        <div>
        <!--{if $page > 1}-->
            <button onclick="window.location.href='/forum.php?page={echo $page-1}'">上一页</button>
        <!--{/if}-->
            <button onclick="window.location.href='/forum.php?page={echo $page+1}'">下一页</button>
        </div>
    </div>
</div>
