<!--{template common/header}-->

<div id="ct" class="wp cl">

	<!--资源-->
	<!--{template forum/discuz.old.resources}-->

	<!--发帖统计 & 新用户-->
	<!--{template forum/-/Post Statistics And New User}-->

	<!--维基搜索框-->
	<!--{template -/XYWiki Search Box}-->

	<div class="mn">

		<!--在线用户列表-->
		<!--{template forum/-/Online User List}-->

		<!--全站最新帖子-->
		<!--{template forum/discuz.old.last.posts}-->

		<!--友情链接-->
		<!--{template forum/-/Friend Website List}-->

	</div>

</div>

<!--{template common/footer}-->
